<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>login-shell-script</string>
	<key>Program</key>
	<string>/Users/samm/git/sammcj/scripts/macos/launchdaemons/login.sh</string>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
