<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.example.launchd_wrapper</string>
	<key>ProgramArguments</key>
	<array>
		<string>/path/to/launchd_wrapper</string>
		<string>your_target_command</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>ENV_VARS</key>
		<string>your_env_vars</string>
		<key>PY_ENV</key>
		<string>your_python_env</string>
		<key>INHERIT_ENV</key>
		<string>true</string>
	</dict>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
