<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>Vorta</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/samm/.pyenv/shims</string>
		<string>vorta</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>ENV_VARS</key>
		<string></string>
		<key>PY_ENV</key>
		<string></string>
		<key>INHERIT_ENV</key>
		<string>true</string>
	</dict>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
