[Unit]
Description=NVIDIA Fan Control Daemon
After=sysinit.target

[Service]
Type=simple
Environment="FAN_DEVICE=/sys/class/hwmon/hwmon4/pwm3"
User=root
ExecStart=/usr/local/sbin/nv_fan_control -daemon -fanpath ${FAN_DEVICE}
Restart=always
RestartSec=3
TimeoutStopSec=5
UMask=022
# Limiting capabilities for security
CapabilityBoundingSet=~CAP_SYS_PTRACE
# Read-only for filesystem
ProtectSystem=strict
# Read-only for /home, /root, and /run/user
ProtectHome=read-only
PrivateTmp=true
PrivateDevices=true
NoNewPrivileges=true
# Granting write access to this path alone
ReadWritePaths=/sys/class/hwmon/hwmon4/
SystemCallFilter=~@reboot @swap @obsolete @keyring @module @clock @cpu-emulation @debug @mount @raw-io
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
Nice=-10

[Install]
WantedBy=multi-user.target
