#### THIS FILE IS MANAGED BY AN AUTOMATED WORKFLOW ####

name: detect-secrets update baseline

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  checks: write

env:
  EXCLUDE_LINES: |
    --exclude-lines='CHECKSUM'
    --exclude-lines='MOCKING'
    --exclude-lines='GOOGLE_API_KEY'
    --exclude-lines='google-api-key'
    --exclude-lines='NODE_OPTIONS'
    --exclude-lines='http://localhost'
    --exclude-lines='#*tag=v'
    --exclude-lines='secrets*inherit'
  EXCLUDE_FILES: |
    --exclude-files='node_modules'
    --exclude-files='dist'
    --exclude-files='*secrets*baseline'

jobs:
  detect-secrets-baseline-update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3
      - name: "Set output variable to update or create baseline"
        id: baseline
        run: |
          if [ -f .secrets.baseline ]; then
            echo "::set-output name=baseline::--baseline .secrets.baseline"
          else
            echo "::set-output name=baseline::> .secrets.baseline"
          fi

      - name: run detect-secrets update baseline
        uses: reviewdog/action-detect-secrets@master
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          fail_on_error: "true"
          level: warning
          detect_secrets_flags: "${{ env.EXCLUDE_FILES }} ${{ env.EXCLUDE_LINES }} ${{ steps.baseline.outputs.baseline }}"

      #  Create a PR with the new baseline
      - uses: peter-evans/create-pull-request@38e0b6e68b4c852a5500a94740f0e535e0d7ba54 # v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: update/security-baseline
          title: "update detect-secrets baseline"
          commit-message: "chore: update detect-secrets baseline"
          body: Update versions of detect-secrets baseline, remember to check the file for unexpected additions.
          add-paths: |
            .secrets.baseline
