#### THIS FILE IS MANAGED BY AN AUTOMATED WORKFLOW ####

name: "Lint Shell Files"

on:
  pull_request:
    paths:
      - "**/*.sh"
      - "**/*.rc"
      - "!**/node_modules/**"
    branches:
      - main
      - master
      - "!repo-sync/**"
      - "!renovate/**"
      - "!update/pre-commit-hooks/**"
  workflow_dispatch:

jobs:
  shellcheck:
    name: lint-shell
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3
      - name: shellcheck
        uses: reviewdog/action-shellcheck@f52d78284b4941028952125a10c76676c3d456eb # v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          path: "."
          pattern: |
            *.sh
            *.rc
          exclude: |
            ./.git/*
            ./**/node_modules/*
          check_all_files_with_shebangs: false
          fail_on_error: false
          level: warning
          shellcheck_flags: "--external-sources"
