#### THIS FILE IS MANAGED BY AN AUTOMATED WORKFLOW ####

name: "Lint Shell Files"

on:
  pull_request:
    paths:
      - "**/*.sh"
      - "**/*.rc"
      - "!**/node_modules/**"
    branches:
      - main
      - master
      - "!repo-sync/**"
      - "!renovate/**"
      - "!update/pre-commit-hooks/**"
  workflow_dispatch:

jobs:
  shellcheck:
    name: lint-shell
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3
      - name: shellcheck
        uses: reviewdog/action-shellcheck@1c58cf1fdadcdcdbe0bc577e6970891c50595e13 # v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          path: "."
          pattern: |
            *.sh
            *.rc
          exclude: |
            ./.git/*
            ./**/node_modules/*
          check_all_files_with_shebangs: false
          fail_on_error: false
          level: warning
          shellcheck_flags: "--external-sources"
