#### THIS FILE IS MANAGED BY AN AUTOMATED WORKFLOW ####

name: pre-commit

on:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write
  checks: write

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f # v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: |
          npm install -g npm
          npm ci
      - uses: actions/setup-python@d27e3f3d7c64b4bbf8e4abfb9b63b83e846e0435 # v4
      - uses: pre-commit/action@646c83fcd040023954eafda54b4db0192ce70507 # tag=v3.0.0
